/*slides.com requires important overrides.. cheeky buggers*/
section
  text-align:left;
  letter-spacing:.061em
  h1
    font-weight: 700 !important
    letter-spacing: .04em !important
    font-size: 64px !important
  h2
    font-size:36px !important
    font-weight: 300 !important
    letter-spacing: .15em !important
  h3
    font-weight: 700 !important
    font-size: 24px !important
    letter-spacing: .17em !important
