.bg-clouds-light,
.bg-clouds-dark
  background-url https://d3s84xo5cmutkt.cloudfront.net/assets/attachments/000/000/707/original/clouds-grey-web.jpg

.bg-clouds-light
  wash grey +10%
.bg-clouds-dark
  wash black


.slide-background
  wash slate -20%
section
  foreground light-orange
