/*PALETTE*/
@red:          #cc0000;
@red1: @red;
@red2:         #A30000;
@red3:         #820000;
@black:        #222222;
@white:        #ffffff;
@navy:         #005172;
@slate:        #5E6A71;
@grey:         #D1D4D3;
@orange:       #EC7A08;
@light-orange: #FFB612;
@blue:         #0088CE;
@light-blue:   #4E9FDD;
@green:        #3F9C35;
@light-green:  #92D400;




/*slide-default*/
.slide-background{background:lighten(@grey, 13);background-size: cover;background-position: 50% 50%; background-repeat: no-repeat;}
section{    color:darken(@slate, 2);}

//= background-red-abstract
.background-red-abstract{
    &.slide-background{
        background-color:darken(@red, 5);
        background-image:url(http://netengine.io-assets.s3.amazonaws.com/assets/images/svg/svg-backgrounds/background-red01.svg);
    }
}

//= background-slate
.background-slate{
    &.slide-background{
        background-color:darken(@slate, 5);
    }
}

.background-slate,
section.background-black,
section.background-red{
        color:lighten(@grey, 13);
        .icon > path{stroke:#fff !important}
        .redhat-product-logotype path{fill:#fff}
        path.logo-text, .logo-text path, .product{
        fill:lighten(@grey, 13) !important;}
        .redhat-logo .logo-text{fill:#fff !important}

}
section.background-red{        .logomark path, path.logomark, svg.product path, path.logo-text{
        fill:lighten(@grey, 13) !important;}
}


//= background-white
.background-white{
    &.slide-background{background-color:white;}
    &section{color:@slate;}
    svg{fill:@slate;}
    .redhat-logo{fill:black}

    }


//= background-black
.background-black{
    &.slide-background{background-color:#111;}
    &section{color:@grey;}
    }


section{
    text-align:left;

    letter-spacing:.061em;
    h1{
        font-weight: 700 !important;
        letter-spacing: .04em !important;
        font-size: 64px !important;
        }
    h2{font-size:36px !important; font-weight: 300 !important; letter-spacing: .15em !important;}
    h3{font-weight: 700 !important; font-size: 24px !important; letter-spacing: .17em !important;}

    blockquote{

      font-style:normal;
      box-shadow: none;
      background-color:darken(@slate,0);
      color:lighten(@grey, 12);
      svg{fill:white;}padding: 1.5em; position:relative;
      &:after{
          content:"";
          display:block;
          height:0; width:0;color:darken(@slate,0);position:absolute;
          right: 1em; bottom:-1.3em;
          border: 1em solid;z-index:-1;
          border-width:2em 2.5em 0em 0em;
          border-color: darken(@slate,0) transparent transparent;
      }
      }
    }

.progress {position: ;background-color: transparent;span {background-color: @red1; border-radius:0 2px 2px 0; border-right: 1px solid #fff; border-top: 1px solid #fff;}}

.tshadowman {position:absolute;  z-index:9; width: 20%; height: 25%; left: 80%; top: 75%; }

.controls{z-index:1; bottom: auto;}


/*icon absolute brute-fix*/.absolute-element svg{ position:absolute; top:0; left:0; right: 0; width: 100% !important; height: 100% !important;}
.icon.stroked {
    width: 282px; height: 282px;
    path{
        fill:none;
        stroke:@slate;
        stroke-width: 1.5px;
        transition-delay: .5s !important;
        stroke-dashoffset:0;
        stroke-width: 1.5;
        stroke-linecap:round;
        stroke-linejoin:round;
        stroke:@slate;
        &.long{
          stroke-dasharray:420,420;
          transition: 2.5s all ease;
          }

        &.longer{
          stroke-dasharray:512,512;
          transition: 2.5s all ease;
         }

        &.short{stroke-dasharray:90,90;
            transition: 5s all ease;

        }
        &.shortest{stroke-dasharray:5,5;
            transition: 2s all ease;

        }

&.round { stroke-linecap:round ;  stroke-linejoin:round ; }
        &.virtual{
            transition: .5s all ease;
            stroke-dasharray:1.1, 3;
            stroke-linecap:round ;
        }
        &.hand{ stroke-linecap:round;
         /* &.long{
            -webkit-animation: spinn  20s infinite linear;
            -moz-animation: spinn 20s infinite linear;
            animation: spinn 20s infinite linear;
              transform-origin: 0% 100%;}
          &.short{
            -webkit-animation: spinn 90s infinite linear;
            -moz-animation: spinn 90s infinite linear;
            animation: spinn 90s infinite linear;
             transform-origin: 0% 50%;
            }*/
        }
    }
}

/*
@-webkit-keyframes spinn {
    0%   {}  100% {-webkit-transform:rotate(360deg) }}
@-moz-keyframes spinn {
    0%   { }   100% { -moz-transform:rotate(360deg) }}
@keyframes spinn {
    0%   { }   100% {transform:rotate(360deg) }}
*/


.present path.virtual{-webkit-animation: virtual-outline 60s infinite linear;
         -moz-animation: virtual-outline 60s infinite linear;
          animation: virtual-outline 60s infinite linear;}

@-webkit-keyframes virtual-outline {  0%   { stroke-dashoffset:0;}  100% { stroke-dashoffset:512;}}
@-moz-keyframes virtual-outline {  0%   { stroke-dashoffset:0;}  100% { stroke-dashoffset:512;}}
@keyframes virtual-outline {  0%   { stroke-dashoffset:0;}  100% { stroke-dashoffset:512;}}

.future .icon.stroked{
    path{transition: none !important;}
    path.long{stroke-dashoffset:420;}
    path.longer{stroke-dashoffset:512;}
    path.short{stroke-dashoffset:90;}
    path.shortest{stroke-dashoffset:5;stroke-width: .5; opacity:0;}
    path.virtual{
        stroke-dasharray:1.1, 12 ;
        stroke-width: 9;
        opacity:0;


    }



}


path.slide-move{transition: all 5s ease; -webkit-transform: translate(-140px,0);}




/*formatting snippet blocks*/
.vertically-centered{position:absolute;top: 0; bottom:0; right:0; height: 700px; width: 100%; display:table;
>div{display:table-row; height: 700px; width: 100%; >div{display:table-cell;height: 700px; width: 100%; vertical-align:middle;}}}



.three-column-cards{width: 100%; display:table;

>div{display:table-row;
    >div{
        display:table-cell !important;
    vertical-align:bottom;
    width: 31%;  height: 100%;
    transition: all 1s ease;
    font-size: 18px;
     background-color:lighten(@grey, 15);border-bottom:  1px solid @red;;
        &:nth-child(1){transition-delay:.6s; border-left:1px solid @red; }
        &:nth-child(2){transition-delay:.8s; border-right: 1px solid @red; border-left: 1px solid @red;}
        &:nth-child(3){transition-delay:1s; border-right: 1px solid @red;}
    >h2{font-size: 18px !important; background-color:@red; color:white; padding: .6666666em 0;}
    p{margin: 1em 0;}
}}
}
.future .three-column-cards > div > div{transition:none; -webkit-transform: scale(.5) translate(0,-10em);opacity:0;}



.regular-three-column-table{font-size: 16px !important; width: 100%; transition: all 1s ease; margin-left: -00%;
    thead th{background-color: @red; color:white; text-align:center;text-transform:uppercase; font-size: 16px;padding: .66666em 0em ;letter-spacing: .1em; font-weight: 500;}
    thead,tbody{ th,td{ border: 1px solid @red;text-align:center; width: 33.3333%;}}
tfoot > tr > td{border-top: 1px solid @red;text-align:center; color:lighten(@slate,10);
&:first-child{text-align:left;}
&:last-child{text-align:right;}
}
td,th{transition: all .5s ease-out;
&:nth-child(1){transition-delay: .4s;}
&:nth-child(2){transition-delay: .6s;}
&:nth-child(3){transition-delay: .8s;}}
p{padding: .5em 0;}
tfoot{text-transform: uppercase; line-height: 1.3em; }}


.future .regular-three-column-table{-webkit-transform: scale(1.2);-moz-transform: scale(1.2);transform: scale(1.2); opacity:0; transition:none;
td,th{-webkit-transform: scale(.5);-moz-transform: scale(.5);transform: scale(.5);opacity:0; transition:none;}}




//= movie-mode

.youtube.video{width: 960px; height: 700px; margin:0  auto !important;}


.slide-background.movie-mode{background-image: none !important; background-color: #000;}
section.movie-mode{}




//= background-skyscraper-dark

.slide-background.background-skyscraper-dark
{background-image: url(https://d3s84xo5cmutkt.cloudfront.net/assets/attachments/000/000/489/original/grey-skyscrapers.jpg);
&:before{content:"";display:block;
position:absolute;
top:0; bottom:0; left:0; right:0;
width: 100%; height: 100%;
background-color:rgba(40,40,40,0.8);}}


//= background-skyscraper-light
.slide-background.background-skyscraper-light{
    background-image: url(https://d3s84xo5cmutkt.cloudfront.net/assets/attachments/000/000/489/original/grey-skyscrapers.jpg);
&:before{content:"";display:block;position:absolute; top:0; bottom:0; left:0; right:0;width: 100%; height: 100%;
background-color:rgba(255,255,255,0.8);}}


//= background-road-light
.slide-background.background-road-light{
    background-image: url(http://d3s84xo5cmutkt.cloudfront.net/assets/attachments/000/000/922/original/road-grey-web.jpg);
&:before{content:"";display:block;position:absolute; top:0; bottom:0; left:0; right:0;width: 100%; height: 100%;
background-color:rgba(255,255,255,0.8);}}


//= background-road-dark
.slide-background.background-road-dark{
    background-image: url(https://d3s84xo5cmutkt.cloudfront.net/assets/attachments/000/000/922/original/road-grey-web.jpg);
&:before{content:"";display:block;position:absolute; top:0; bottom:0; left:0; right:0;width: 100%; height: 100%;
background-color:rgba(22,22,22,0.8);}}


.slides > section{

transition: all .5s cubic-bezier(.51,1.07,.6,1.03) !important;
height: 100%; width: 100%;

&.future{opacity:0;
-webkit-transform: scale(.98 ) !important;
-moz-transform: scale(.98 ) !important;
transform: scale(.98 ) !important;
transition: all .15s cubic-bezier(.51,1.07,.6,1.03) !important;

}
&.past{opacity:0; -webkit-transform: scale(1.05 ) !important;
transition: all .1s ease !important;}


>section{
    transition: all .5s cubic-bezier(.51,1.07,.6,1.03) !important;

 &.past{
     -webkit-transform:translate(0,-100%) !important;
     -moz-transform:translate(0,-100%) !important;
     transform:translate(0,-100%) !important;

 }
 &.future{-webkit-transform:translate(0,100%) !important;
 -moz-transform:translate(0,100%) !important;
 transform:translate(0,100%) !important;}


 }


}



section > ul > li{
            &:nth-child(1){transition-delay:.2s;}
            &:nth-child(2){transition-delay:.4s;}
            &:nth-child(3){transition-delay:.6s;}
            &:nth-child(4){transition-delay:.8s;}
            &:nth-child(5){transition-delay:1s;}
            &:nth-child(6){transition-delay:1.2s;}
            &:nth-child(7){transition-delay:1.4s;}
            &:nth-child(8){transition-delay:1.6s;}
            &:nth-child(9){transition-delay:1.8s;}
            &:nth-child(10){transition-delay:2s;}
            &:nth-child(11){transition-delay:2.2s;}
            &:nth-child(12){transition-delay:2.4s;}
            &:nth-child(13){transition-delay:2.6s;}
            &:nth-child(14){transition-delay:2.8s;}
            &:nth-child(15){transition-delay:3s;}
            &:nth-child(16){transition-delay:3.2s;}
            &:nth-child(17){transition-delay:3.4s;}
            &:nth-child(18){transition-delay:3.6s;}
            &:nth-child(19){transition-delay:3.8s;}
            &:nth-child(20){transition-delay:4s;}
            &:nth-child(21){transition-delay:4.2s;}
            &:nth-child(22){transition-delay:4.4s;}

}





a{box-shadow: 0 .066666em }




//= fg-red
            section.fg-red{color:
@red2       ;
            .icon.stroked{stroke:
@red2       ;}
            .redhat-product-logotype{fill:
@red2       ;}}

.slide-background{
    -webkit-transition: -webkit-transform 15s ease-out ;
    -moz-transition: -moz-transform 15s ease-out ;
    transition: transform 15s ease-out ;
    &.present{-webkit-transform:scale(1)}
    &.future{-webkit-transform:scale(1.5)}
    &.past{-webkit-transform:scale(1)}
    }
