red = #cc0000
red1 = red
red2 = #A30000
red3 = #820000
black = #222222
white = #ffffff
navy = #005172
slate = #5E6A71
grey = #D1D4D3
gray = grey
orange = #EC7A08
light-orange = #FFB612
blue = #0088CE
light-blue = #4E9FDD
green = #3F9C35
light-green = #92D400
lime = light-green
